<style>
  .container-inicio {
    position: grid;
    width: 100%;
    top: 60px;
  }

  .cards {
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  .cards .card {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }

  .cards .card:hover {
    background: #2069A1;
  }

  .cards .card:hover .number {
    color: #ffff;
  }

  .cards .card:hover .card-name {
    color: #ffff;
  }

  .cards .card:hover .icon-box i {
    color: #ffff;
  }

  .number {
    font-size: 35px;
    font-weight: 500;
    color: #2069A1;
  }

  .card-name {
    color: #888;
    font-weight: 600;
  }

  .icon-box i {
    font-size: 45px;
    color: #2069A1;
  }

  @media (max-width:880px) {
    .cards {
      width: 100%;
      padding: 35px 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }

  @media (max-width:500px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
</style>

<div class="container-inicio">
  <div class="cards">
    <div class="card">
      <div class="card-content">
        <div class="number">{{c_estudiante}}</div>
        <div class="card-name">Estudiantes</div>
      </div>
      <div class="icon-box">
        <i class="fas fa-user-graduate"></i>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="number">{{c_profesor}}</div>
        <div class="card-name">Profesores</div>
      </div>
      <div class="icon-box">
        <i class="fas fa-chalkboard-teacher"></i>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="number">{{c_detallegrupo}}</div>
        <div class="card-name">Grupos</div>
      </div>
      <div class="icon-box">
        <i class="fas fa-users"></i>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="number">{{c_matricula}}</div>
        <div class="card-name">Matriculas</div>
      </div>
      <div class="icon-box">
        <i class="fa-solid fa-laptop-file"></i>
      </div>
    </div>
  </div>
</div>
<div class="px-4 pb-2">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row g-3">
            <div class="col-md-6">
              <div class="w-50 mx-auto">
                {{#ifCond user.sexo "F"}} 
                <img src="/img/professor_4232276.png" class="img-fluid rounded">
                {{/ifCond}}
                {{#ifCond user.sexo "M"}} 
                <img src="/img/teacher_5590486.png" class="img-fluid rounded">
                {{/ifCond}}
              </div>
            </div>
            <div class="col-md-6">
              <p class="fs-1 text-center">Bienvenid@</p>
              <p class="fs-2">Usuari@: {{user.nombres}} {{user.apellidos}}</p>
              <p class="fs-2">Cuenta: {{user.correo_e}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>